USE [DESAFIOPRATICO]
GO
/****** Object:  Trigger [dbo].[TGR_PEDIDO_ITEM_AI]    Script Date: 08/03/2021 10:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TGR_PEDIDO_ITEM_AI]
ON [dbo].[Pedido_Item]
AFTER INSERT
AS
BEGIN
    DECLARE @PEDIDO_ID INT
    SELECT @PEDIDO_ID = PEDIDO_ID FROM INSERTED
	exec pr_aplicar_promocao_pedido @PEDIDO_ID
	
    

END
